* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: white;
  height: 100vh;
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 로딩 */
.loader {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: 3px solid #363636;
  border-top: 3px solid red;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 영화 리스트 */
.movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100%;
  width: 80%;
}
