.movie {
  margin: 4px;
}

.movie__poster {
  width: 100%;
  max-width: 150px;
}

.movie__data {
  display: flex;
  flex-direction: column;
}

.genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.genres__genres {
  margin-right: 10px;
}

.movie__year,
.genres__genres,
.movie__summary {
  color: #aaaaaa;
}

/* Movie Detail */
.movie__detail {
}
